<!DOCTYPE html>
<!-- boilerplated from https://socket.io/get-started/chat -->
<html>
  <head>
    <title>Foonky Chess</title>
    <link rel="icon" href="favicon.ico">
    <style>
	img {
	  pointer-events: none;
	  user-select: none;
	}
	button{
		position:relative;
	}
	body{ font-family: 'Courier New', monospace; }
    </style>
  </head>
  <body>
	  <div id="host" hostname="https://foonkychess.herokuapp.com"></div>
	  <!--div id="host" hostname="http://localhost:4445"></div-->
	  <div id="canvases"></div>
          <p id="curRoom" >Current room:</p>
          <p id="colorText" >You are:</p>
          <p id="curTurn" >??? to move.</p>
	  <p id="jointext" >Join link:</p>
	  <button id = "joincopy" >foonkychess.herokuapp.com</button>
	  <p id="userlist" style="white-space: pre"></p>
          <script>
            document.getElementById("curRoom").style["margin-left"]= "560px"
            document.getElementById("colorText").style["margin-left"]= "560px"
            document.getElementById("curTurn").style["margin-left"]= "560px"
            document.getElementById("jointext").style["margin-left"]= "560px"
            document.getElementById("joincopy").style["margin-left"]= "560px"
            document.getElementById("userlist").style["margin-left"]= "560px"
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js"></script>
    <script src="copylink.js"></script>
  </body>
</html>
