<!DOCTYPE html>
<!-- boilerplated from https://socket.io/get-started/chat -->
<html>
  <head>
    <title>Foonky Chess</title>
    <style>
	body{ font-family: 'Courier New', monospace; }
    </style>
  </head>
  <body>
    <p id="error" style="color:red"></p>
    <form id="form">
      Name:
      <input id="name_input" autocomplete="off" />
      <br>
      Room:
      <input id="room_input" autocomplete="off" />
      <br>
      <button>Go</button>
    </form>
    <script type="module" src="src/formhandler.js"></script>
  </body>
</html>
